// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
*= require magnific-popup
*= require bootstrap-markdown
*= require_tree .
*= require_self
*/

@import "bootstrap-sprockets";
@import "bootstrap";

$purple: #A7226E;
$red: #EC2049;
$orange: #F26B38;
$dark-grey: #5e5e5e;
$middle-grey: #939393;
$light-grey: #d2d2d2;
$transparent-white: rgba(255, 255, 255, 0.75);
$font-serif: 'Playfair Display', serif;
$font-sans: 'Muli', sans-serif;
$font-cursive: 'Clicker Script', cursive;

* { z-index: 10; position: relative; }
.bg-white { background-color: white }

a { color: $red !important; }
a:hover, a:focus { color: $orange !important; }
a:visited { color: $purple !important; }

h1 { font-family: $font-serif !important; font-weight: bolder; color: $dark-grey !important; }
h2 { font-family: $font-sans !important; color: $dark-grey !important; }
h3 { font-family: $font-sans !important; color: $middle-grey !important; }
p { font-family: $font-sans !important; color: $dark-grey !important; }

.top-pad-30 { padding-top: 30px }
.bottom-pad-30 { padding-bottom: 30px }

label {
  font-color: $dark-grey !important;
  font-family: $font-sans !important;
  font-weight: bolder !important;
  text-transform: capitalize !important;
}

.dark-grey-bar {
  background-color: $dark-grey !important;
  padding: 20px 0 40px 0;
}

.dark-grey-bar h1 {
  color: white !important;
  padding-bottom: 15px;
}

.dark-grey-bar p {
  color: white !important;
}

.cursive { font-family: $font-cursive; }

.btn {
  background: $purple;
  background-image: -webkit-linear-gradient(top, $purple, $orange) !important;
  background-image: -moz-linear-gradient(top, $purple, $orange) !important;
  background-image: -ms-linear-gradient(top,$purple, $orange) !important;
  background-image: -o-linear-gradient(top, $purple, $orange) !important;
  background-image: linear-gradient(to bottom, $purple, $orange) !important;
  -webkit-border-radius: 3;
  -moz-border-radius: 3;
  border-radius: 3px;
  color: white !important;
  padding: 10px 20px 10px 20px !important;
  text-decoration: none;
  font-family: $font-sans;
  font-weight: bolder;
  font-size: 18px !important;
  margin: 10px 0 10px 0;
}

.btn:visited {
  color: white !important;
}

.btn:hover {
  text-decoration: none !important;
  color: $red !important;
  border: solid medium $red !important;
  background: $transparent-white !important;
  background-image: none !important;
  padding: 8px 20px 8px 20px !important;
}

.outline-box {
  border: solid thin $light-grey;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
  margin: 20px 0 20px 0;
}







/*
==============================================
Responsive Hero
==============================================
*/


.responsive-hero-div {
	width: 100%;
	height: 400px;
	position: fixed;
	overflow: hidden;
  z-index: 0;
}

.responsive-hero-img {
	position: fixed;
	top: 50%;
	height: 100%;
  min-width:100%;
	display: block;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
}

.overlap-responsive-image {
	position: relative;
	width: 100%;
	height: 400px;
	z-index: 15;
}

.overlap-responsive-image h1 {
  font-size: 38px;
}

.overlap-responsive-image h1 .cursive {
  font-size: 48px;
}

/* XS Screens */
@media screen and (max-width: 768px) {
  .responsive-hero-img {
    width: auto;
    max-width: 300%;
  }
}

/* Large Screens */
@media only screen and (min-width : 992px) {
  .responsive-hero-div {
  	height: 100vh;
  }

  .overlap-responsive-image {
  	height: 100vh;
    padding-top: 200px;
  }

  .overlap-responsive-image h1 {
    font-size: 58px;
  }

  .overlap-responsive-image h1 .cursive {
    font-size: 68px;
  }
}

.over-image-text {
  color: white !important;
  text-shadow: 2px 2px 7px rgba(50, 50, 50, 1);
}








/* Grow */
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}










/* LIZ NAV */
#liz-nav.navbar-default {
  position: relative;
  margin-bottom: 0;
  border: none;
  background-color: $transparent-white;
  border-radius: 0px;
}

#liz-nav.navbar-default .navbar-brand {
  color: black !important;
  font-family: $font-cursive;
  font-size: 22px;
  z-index: 100;
}

#liz-nav.navbar-default .navbar-brand:hover {
  font-weight: bolder;
}

#liz-nav.navbar-default {
    font-size: 14px;
    font-family: $font-serif;
}

#liz-nav.navbar-default .navbar-nav>li>a {
    color: black !important;
    padding-bottom: 15px;
}

#liz-nav.navbar-default .navbar-nav>li>a:hover,
#liz-nav.navbar-default .navbar-nav>li>a:focus {
    color: $red !important;
}



/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: $red;
  height: 6px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}





/*
==============================================
PARALLAX
==============================================
*/











/* INDEX */
.index-third {
  color: $dark-grey;
  margin-bottom: 20px;
}

.index-third h1 {
  font-weight: 100;
  font-size: 28px;
}

.index-third p {
  font-family: $font-sans;
  color: $dark-grey;
  padding: 15px 5px 20px 5px;
  font-weight: 200;
}

.index-icon {
  height: 70px;
}

.image-box {
  padding: 20px 0 20px 0;
}

#branding:hover {
  color: $purple !important;
}

#design:hover {
  color: $red !important;
}

#dev:hover {
  color: $orange !important;
}

/* Pulse Grow */
@-webkit-keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes hvr-pulse-grow {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.hvr-pulse-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse-grow:hover, .hvr-pulse-grow:focus, .hvr-pulse-grow:active {
  -webkit-animation-name: hvr-pulse-grow;
  animation-name: hvr-pulse-grow;
  -webkit-animation-duration: 0.35s;
  animation-duration: 0.35s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}















/* PORTFOLIO */
.site-preview-box {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  margin: 20px;
  padding: 20px 10px 20px 10px;
}

.site-preview-box:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.site-preview-box h2 {
  font-family: $font-serif;
  color: $dark-grey;
  font-weight: 100;
}

@media screen and (min-width: 768px) {
  .site-preview-box .p-box {
    height: 140px;
  }
}

.portfolio-image {
  height: 200px;
  margin: 20px 0 20px 0;
  border: solid thin $light-grey;
}

.site-preview-box a:hover, .site-preview-box a:focus {
  text-decoration: none !important;
}








/* HIRING */

.site-quote {
  padding: 0 10px 20px 10px;
}

.site-quote:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.orange-box {
  margin: 15px 0 15px 0;
  border: solid thin $orange;
  border-radius: 5px;
}

.site-quote h4 {
  font-family: $font-sans;
  font-weight: bolder;
  color: $dark-grey;
}

.size-icon {
  width: 40%;
  max-width: 100px;
  margin: 15px 0 10px 0;
}









/* BLOGS */
#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1.2em; }
  .l { font-size: 1.8em; }
}

.blog a:hover {
	color: $orange !important;
	text-decoration: none !important;
}

.blog .icon {
	font-size: 26px;
	padding: 0 3px 0 3px;
}












/* INQUIRIES */
table th {
  padding: 5px 15px 5px 15px;
  border: thin $light-grey solid;
}

table td {
  padding: 5px 15px 5px 15px;
  border: thin $light-grey solid;
}

.mini-icon {
  width: 30%;
  margin-bottom: 15px;
}

li {
  font-family: $font-sans !important;
  color: $dark-grey !important;
}









/* FOOTER */

footer {
  background-color: white;
}

footer h1 {
  font-family: $font-cursive !important;
}
